

// ::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
//     color: green;
//   }


  .green-snackbar {
    background: rgb(65, 252, 134) !important;
    color: white !important;
}
.green-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}
.red-snackbar {
    background: #F44336 !important;
    color: white !important;
}
.red-snackbar button {
    background-color: #F44336 !important;
    color: white !important;
    border: none;
}